<!DOCTYPE html>
<html lang="en">
<head>
    {% module Template("bootstrap-css.html") %}
    <title>Title</title>
</head>
<body>
    {% module Template("nav-panel.html") %}
    <main role="main" class="container">
        <div class="row">
            <div class="col-md-9">
                <table>
                    <tr>
                        <td><b>№ </b></td>
                        <td><b>Name </b></td>
                        <td><b>Rating </b></td>
                        <td><b>City </b></td>
                    </tr>
                    {% for player in players %}
                    <tr>
                        <td>{{ player["num"] }} </td>
                        <td>{{ player["name"] }} </td>
                        <td>{{ player["rating"] }} </td>
                        <td>{{ player["city"] }} </td>
                    </tr>
                    {% end %}
                </table>
            </div>
        </div>
    </main>
    {% module Template("footer.html") %}
    {% module Template("bootstrap-js.html") %}
</body>
</html>