<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width , initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="bootstrap-4.1.0/dist/css/bootstrap.min.css">
    
    <!-- Custom styles for this template -->
    <link href="style.css" rel="stylesheet">
    <title>Title</title>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#">MGF</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Tournaments <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="download-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Download</a>
            <div class="dropdown-menu" aria-labelledby="download-dropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Players</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">API</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contacts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
        </ul>
        
        <div class="mt-2 mt-md-0">
            <div class="nav-item">
                <a href="#" class="nav-link">Sign in</a>
            </div>
        </div>
      </div>
    </nav>
    
    <main role="main" class="container">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">col-lg-4</div>
                <div class="col-lg-4">col-lg-4</div>
                <div class="col-lg-4">col-lg-4</div>
                <div class="col-md-6 col-sm-1" bgcolor="blue">test</div>
            </div>
        </div>
    </main> <!-- .container -->
    
    <footer class="footer">
      <div class="container">
          <p>Site built for <a href="#">Moscow Go Federation</a> by <a href="https://github.com/timostar1">Timofey Starodubtsev</a>.</p>
          <p>
            <a href="#">Back to top</a>
          </p>
      </div>
    </footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="bootstrap-4.1.0/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="bootstrap-4.1.0/assets/js/vendor/popper.min.js"></script>
<script src="bootstrap-4.1.0/dist/js/bootstrap.min.js"></script>
</body>
</html>